<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped text-center">
      <thead style="font-weight: bold;">
        <td class="col-sm-1">Starting number</td>
        <td class="col-sm-3">Jumper</td>
        <td class="col-sm-2">Team</td>
      </thead>
      <tbody>
        <tr *ngFor="let entry of (appState | async).startingList">
          <td class="col-sm-1" style="font-weight: bold;">{{entry.startingNumber}}</td>
          <td class="col-sm-3">{{entry.jumper.getFullName()}}</td>
          <td class="col-sm-2">
            <img src="{{entry.jumper.team.flagImagePath}}"
                 alt="{{entry.jumper.team.fullName}}"
                 style="max-width: 30px;">
             {{entry.jumper.team.abbreviation}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
