<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active">
        <a routerLink="./results">Results</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="./jumpers-queue">Jumpers queue</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="./starting-list">Starting list</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
